################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionApp-fongdemo/Properties/PublishProfiles/fong-demo-funtions-sln - Web Deploy.pubxml
